<!DOCTYPE html>
<html lang="English">
    <head>
        <meta charset="UTF-8">
        <title>Find Events near You</title>
    
        <link rel="stylesheet" href="C:/Start Menu/Programs/Flask_app/static/style.css">

    </head> 
    <body>
        <h1>Find Events Based On Your Location</h1>
        <label for="city">Enter Your City:</label><br>
        <input type="text" id="city" placeholder=""><br>
        <label for="time">Select Your Time:</label>
        <select id="time">
            <option value="morning">Morning (6AM-11AM )</option>
            <option value="afternoon">Afternoon (12PM-5PM )</option>
            <option value="evening">Evening (6PM-10PM )</option>
        </select><br>
        <button onclick="findEvents()">Search</button>
        
    </body>
</html>